<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78A9B85F1589E14900FEFFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A9B8771589E14900FEFFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A9B8921589E19400FEFFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A9B8A01589E19500FEFFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
